.movies-card-list__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 24px;
  row-gap: 30px;
  margin: 0;
  padding: 0;
}

.movies-card-list__element {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222222;
}

.movies-card-list__button {
  height: 36px;
  color: #fff;
  background-color: #2F2F2F;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.3s linear;
  margin: 50px 0 80px 0;
  width: 100%;
}

.movies-card-list__button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .movies-card-list__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 36px;
  }
}

@media screen and (max-width: 426px) {
  .movies-card-list__list {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
