.popup {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, .3);
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s linear;
}

.popup_is-menu {
  justify-content: flex-end;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__close {
  transition: opacity .3s linear;
  cursor: pointer;
  background: url(../../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 22.44px 22.44px 0 auto;
}

.popup__close:hover {
  opacity: 0.5;
}

.popup__container {
  background-color: #202020;
  width: 520px;
  height: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.popup__container_is-menu {
  height: 100%;
  margin: 0;
}

@media screen and (max-width: 520px) {
  .popup__container {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .popup__close {
    margin: 13.44px 13.44px 0 auto;
  }
}


