.search-form {
  margin: 70px 0 50px 0;
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  grid-template-rows: 1fr;
  align-items: center;
}
.search-form__background {
  background: #2f2f2f;
  border-radius: 9px;
  height: 72px;
  grid-column: 1/4;
  grid-row: 1;
}

.search-form__input-container {
  grid-column: 1/3;
  grid-row: 1;
  display: grid;
  grid-template-columns: 63px auto 110px;
}
.search-form__icon {
  padding: 0 8px 0 19px;
}

.search-form__divide {
  width: 1px;
  background-color: #424242;
  height: 40px;
  grid-column: 3;
  grid-row: 1;
}

.search-form__switcher {
  margin: 0 30px;
  grid-column: 3;
  grid-row: 1;
}

.search-form__input {
  border: none;
  background-color: transparent;
  padding: 0 2px;
  color: #8b8b8b;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  width: 100%;
}

.search-form__button {
  transition: opacity 0.3s linear;
  cursor: pointer;
  background: url(../../images/search-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 34px;
  height: 34px;
  padding: 0;
  margin: 0 60px 0 46px;
}

.search-form__button:hover {
  opacity: 0.5;
}
.search-form__error {
  color: #ee3465;
  height: 20px;
  padding-left: 20px;
  visibility: hidden;
}
.search-form__error_active {
  visibility:visible
}

@media screen and (max-width: 768px) {
  .search-form__switcher {
    margin: 0 20px;
  }

  .search-form__button {
    margin: 0 40px 0 56px;
  }
}

@media screen and (max-width: 700px) {
  .search-form__divide {
    display: none;
  }
  .search-form__switcher {
    margin: 26px auto;
    grid-column: 1/4;
    grid-row: 3;
  }
  .search-form__input-container {
    grid-column: 1/4;
  }
  .search-form {
    margin: 80px 0 0 0;
  }
  .search-form__icon {
    display: none;
  }
  .search-form__input-container {
    grid-template-columns: auto 53px;
    margin: 0 19px;
  }
  .search-form__button {
    margin: 0 0 0 19px;
  }
}
